li.dashboard-card {
    list-style-type: none;
    width: 70%;
    height: 300px;
    margin-top: 5rem;
    margin-left: calc(1rem + 300px);
    background-color: #f0bc4cf1;
    border-radius: 15px;
    box-shadow: 1px 2px 3px 0px #3c464080;
    color: white;
    position: relative;
    padding: 0;
    overflow: hidden;
}

li.dashboard-card h1 {
    margin: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.dashboard-card-info {
    margin: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.dashboard-card-info p {
    margin: 0 1rem;
    background-color: #fafafa;
    padding: 1rem;
    border-radius: 100%;
    cursor: pointer;
}

.dashboard-card-participants {
    list-style-type: none;
    margin: 4rem 0 0 0;
    padding: 1rem;
    overflow-y: scroll;
    height: 100%;
}

.dashboard-card-participants::-webkit-scrollbar {
    width: 0;
}

.dashboard-card-participant-heading {
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bolder;
    font-size: 2rem;
}

.dashboard-card-participant {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    color: #f0bc4cf1;
    font-weight: bolder;
    border-radius: 35px;
}